<div class="modal-header">
  <nb-card-header>Add VIP Details</nb-card-header>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModel()">
<span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">
  <div class="row">
      <div class="col-lg-12">
          <form (ngSubmit)="onAddVipDetails()" [formGroup]="addVipDetailsForm" #form="ngForm">
            <!--Vip Category Div Start-->
            <div class='form-group'>
                <label>Vip Category<span class="error">*</span></label>
                <select class='form-control' name='vipId' formControlName='vipId' (change)="selectionChangedForVipCategory($event)">
                  <option value=''>Select Vip Category</option>
                  <option *ngFor='let vipId of vipIdsData' [value]='vipId.id'>{{vipId.title_en}}</option>
              </select>
              <div>
                <p *ngIf='vipId.invalid && vipId.touched' class="error">Parent Category is required.</p>
              </div>
            </div>
            <!--Vip Category Div End-->
              <nb-tabset>
                <nb-tab tabTitle="English">
                  <!--English Sub Title Starts-->
                  <div class='form-group'>
                    <label>Sub Title English<span class="error">*</span></label>
                    <input type='text' name='subTitle_en' class='form-control' formControlName='subTitle_en' placeholder='Sub Title English'>
                    <p *ngIf='subTitle_en.invalid && subTitle_en.touched' class="error">English subtitle is required.</p>
                </div>
                <!--English Sub Title Ends-->

                <!--English Detail Title Starts-->
                <div class='form-group'>
                    <label>Detail Title English</label>
                    <input type='text' name='detailTitle_en' class='form-control' formControlName='detailTitle_en' placeholder='Detail Title English'>
                </div>
                <!--English Detail Title Ends-->

                <!--Description English Starts-->
                <div class="form-group">
                    <label>Description English</label>
                    <ckeditor [config]="ckeConfig" formControlName='description_en'></ckeditor>
                </div>
                <!--Description English Ends-->
                </nb-tab>
                <nb-tab tabTitle="Urdu">
                  <!--Urdu Sub Title Starts-->
                  <div class='form-group'>
                    <label>Sub Title Urdu<span class="error">*</span></label>
                    <input type='text' name='subTitle_ur' class='form-control' formControlName='subTitle_ur' placeholder='Sub Title Urdu'>
                    <p *ngIf='subTitle_ur.invalid && subTitle_ur.touched' class="error">Urdu subtitle is required.</p>
                </div>
                <!--Urdu Sub Title Ends-->

                <!--Urdu Detail Title Starts-->
                <div class='form-group'>
                    <label>Detail Title Urdu</label>
                    <input type='text' name='detailTitle_ur' class='form-control' formControlName='detailTitle_ur' placeholder='Detail Title Urdu'>
                </div>
                <!--Urdu Detail Title Ends-->

                <!--Description Urdu Starts-->
                <div class="form-group">
                    <label>Description Urdu</label>
                    <ckeditor [config]="ckeConfig" formControlName='description_ur'></ckeditor>
                </div>
                <!--Description Urdu Ends-->
                </nb-tab>
              </nb-tabset>

              <!--VIP Image Div Starts-->
              <div class='form-group'>
                  <label>VIP Image<span class="error">*</span></label>
                  <input type='file' name='vipImg' class='form-control' placeholder='Upload File' (change)="uploadFile($event)">
              </div>
              <!--VIP Image Div Ends-->

              <div class='form-group'>
                  <button type="submit" class="btn btn-success" title="Save" [disabled]="!form.valid">Save</button> &nbsp; &nbsp;
                  <button nbButton status="danger" (click)="onCloseModel()">Cancel</button>
              </div>
          </form>
      </div>
  </div>
</div>
