<nb-card>
    <nb-card-header>Change Password</nb-card-header>

    <nb-card-body>
        <form (ngSubmit)="onSaveForm(form)" name='changepassword' #form="ngForm">
            <div class="form-group">
                <p>Old Password</p>
                <input type="password" class="form-control" placeholder="Old Password" [(ngModel)]="user.old_password" name="old_password" #old_password="ngModel"  required>
            </div>
            <div class="form-group">
                <p> New Password</p>
                <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" placeholder="New Password" name="new_password" [minlength]="6" [maxlength]='12'>
                <ng-container *ngIf="password.invalid && password.touched">
                    <p class="error" *ngIf="password.errors?.required">
                        Password is required!
                    </p>
                    <p class="error" *ngIf="password.errors?.minLength">Minimum 6 characters are required.</p>
                    <p class="error" *ngIf="password.errors?.minLength">Maximum 12 characters are allowed.</p>
                    <!-- <p class="error" *ngIf="password.errors?.minlength || password.errors?.maxlength">
		        Password should contains
		        from {{getConfigValue('forms.validation.password.minLength')}}
		        to {{getConfigValue('forms.validation.password.maxLength')}}
		        characters
		      </p> -->
                </ng-container>
            </div>
            <div class="form-group">
                <p> Confirm Password</p>
                <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" #rePass="ngModel" placeholder="Confirm Password" name="confirm_password" required>
                <ng-container *ngIf="rePass.touched">
                    <p class="error" *ngIf="rePass.invalid && rePass.errors?.required">
                        Password confirmation is required!
                    </p>
                    <p class="error" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                        Password does not match the confirm password.
                    </p>
                </ng-container>
            </div>
            <button type="submit" class="btn btn-success" title="Save" [hidden]="!form.form.valid">Save</button> &nbsp;
            <button type="button" class="btn btn-danger" routerLink="/dashboard" title="Cancel">Cancel</button>
        </form>
    </nb-card-body>
</nb-card>