<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" size="large" nbSpinnerMessage="Loading..Please Wait">
  <nb-card-header>
      Manage Announcements
  </nb-card-header>
  <nb-card-body>

      <div class="row">
          <nb-card-body class="select-group text-right">
              <button type="submit" class="btn btn-primary" action="addd" title="Add Announcement" name='addrecord' (click)="addAnnouncement()">Add Announcement</button>
          </nb-card-body>
      </div>

      <div class="panel-table table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                  <tr>
                      <th style='display:none'>ID</th>
                      <th>Announcement Title English</th>
                      <th>Announcement Title Urdu</th>
                      <th>Announcement Image</th>
                      <!-- <th>Announcement Description English</th>
                      <th>Announcement Description Urdu</th> -->
                      <th>Created At</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody *ngIf="objectLength == true">
                  <tr *ngFor="let item of announcementData">
                      <td style='display:none'>{{ item.id }}</td>
                      <td>{{ item.anouncementTitle_en }}</td>
                      <td>{{ item.anouncementTitle_ur }}</td>
                      <td><img [src]="item.anouncementImg" *ngIf="item.anouncementImg != '-'" width="50"></td>
                      <!-- <td>{{ item.description_en }}</td>
                      <td>{{ item.description_ur }}</td> -->
                      <td>{{ item.created_at | date: 'MMM d, y, h:mm:ss a'}}</td>
                      <td>
                          <a title="Change Status" class="statusButton" (click)="updateStatusForAnnouncement(1,item.id)"><i class="fa fa-toggle-on fa-2x fa-rotate-180 statusInactive" *ngIf="item.status == 0"></i></a>

                          <a title="Change Status" class="statusButton" (click)="updateStatusForAnnouncement(0,item.id)"><i class="fa fa-toggle-on fa-2x statusActive" *ngIf="item.status == 1"></i></a>
                      </td>
                      <td>
                          <a title="Edit" class="editor_edit" (click)="editAnnouncement(item)"><i class="fa fa-edit editIcon"></i></a>
                          <a title="Delete" class="editor_remove" (click)="deleteAnnouncement(item.id)"><i class="fa fa-trash editIcon"></i></a></td>
                  </tr>
              </tbody>
              <tbody *ngIf="objectLength == false">
                <tr>
                    <td colspan="3" class="no-data-available">No data!</td>
                </tr>
            <tbody>

          </table>
      </div>
  </nb-card-body>
</nb-card>
